

.main-heading {
    font-size: 10vw;
    color: rgb(57, 230, 22);

}

.main-heading-2 {
    font-size: 10vw;
    color: whitesmoke;
}

.main-block-2 {
    background: rgb(5, 5, 107);
}

.main-heading-3 {
    font-size: 10vw;
    color: whitesmoke;
}

.main-block-3 {
    background: rgb(156, 34, 34);
}

.main-heading-4 {
    font-size: 10vw;
    color: whitesmoke;
}

.main-block-4 {
    background: rgb(27, 3, 49);
}

.link {
    font-size: 4vw;
    text-decoration: none;
    color: gray;
}

.link:hover {
    color: black;
    transition: 0.2s es;
}

.text {
    font-size: 2vw;
}